@import 'src/styles.sass'

.ur
  width: 100vw
  height: 100vh
  min-height: 100vh
  overflow: hidden
  background-color: #e8e8e8
  padding: 2rem

  &::after
    content: 'The Game of Ur'
    color: #dcdcdc
    font-family: Georgia
    font-size: 7vh
    font-weight: 700
    position: absolute
    bottom: 30px
    left: 80px

  .phase0, .phase1
    color: green

  .phase2, .phase3
    color: red

section.board

  table
    margin: 0 auto
    padding: 2rem
    background-color: #e6e6e6
    border: 1px solid #ddd

    .cell
      width: 7vw
      height: 7vw
      margin: 0.5rem
      border: 2px solid rgba(0,0,0, 0.12)
      border-radius: 50%
      cursor: default
      background-color: white
      background-size: 0%
      background-position: center
      background-repeat: no-repeat
      box-shadow: inset 0 0 20px #ddd
      // box-shadow: 0 3px 6px #bbb
      transition: transform 200ms ease-out, box-shadow 200ms ease-out, background-size 200ms

    .cell.blank
      visibility: hidden

    .cell.double
      border-color: #f34379 !important

    .cell.chipA
      background-image: url('src/assets/chip_white.svg')
      cursor: pointer
      background-size: 50%

    .cell.chipB
      background-image: url('src/assets/chip_black.svg')
      cursor: pointer
      background-size: 50%

    .cell.highlight
      transition: transform 200ms ease-out, box-shadow 200ms ease-out, background-size 0ms
      background-size: 60%
      box-shadow: inset 0 0 30px #bbb
      border-color: rgba(0,0,0, 0.3)
      // transform: scale(1.1)

    .cell:focus
      outline: none

    .cell.chipA.ghost,
    .cell.chipB.ghost
      transition: transform 200ms ease-out, box-shadow 200ms ease-out, background-size 0ms
      background-size: 40%

.right-sidebar
  border-left: 1px solid #ccc

// Player info
.player-info
  padding: 0
  border: 1px solid #ddd
  width: 300px
  max-width: 300px
  background-color: #fff
  box-shadow: 0 3px 14px #bbb

  .badge
    height: 18px

  .start, .finish
    
    img
      width: 24px
      height: 24px

  .start

    .smChip
      z-index: 1
      position: relative
      pointer-events: none

    button.new-chip
      position: absolute
      display: block
      margin-left: -153px
      margin-top: -6px
      white-space: nowrap
      animation: scroll 300ms cubic-bezier(.05,.99,.43,.99)

player-info .start .available:last-child()
  float: none

@keyframes scroll
  from
    margin-left: 0px
    max-width: 0
    color: rgba(255,255,255,0)
  to
    margin-left: -153px
    color: rgba(255,255,255,1)
    max-width: 190px


// Dice
.die-panel
  padding: 0
  border: 1px solid #ddd
  width: 302px
  max-width: 302px
  background-color: #fff
  box-shadow: 0 3px 14px #bbb

  .info
    padding-bottom: 0 !important

  button
    position: absolute
    z-index: 2
    left: 20px
    bottom: 20px

  button:not(.btn-primary)
    box-shadow: none

  span#diceSum
    position: absolute
    z-index: 2
    opacity: 0
    bottom: 20px
    right: 20px

  span#diceSum.enter
    opacity: 1
    transition: opacity 500ms ease-out

  .alert-success
    transform: translateX(40px) translateY(-20px) rotateZ(9deg) scale(1.2)
    backdrop-filter: blur(3px)
    background-color: #d8f7d869
    animation: popin 300ms cubic-bezier(.05,1.55,.83,1.01)

@keyframes popin
  from
    transform: translateX(40px) translateY(-20px) rotateZ(9deg) scale(0.3)
  to
    transform: translateX(40px) translateY(-20px) rotateZ(9deg) scale(1.2)
    

.player-info
  border: 1px solid transparent

.player-info.border-hl,
.die-panel.border-hl
  border: 1px solid grey
