<div class="ur">
  <div class="d-flex flex-row h-100">
    <main class="d-flex flex-column justify-content-center m-5">
    <!-- Game board -->
      <section class="board">
        <table>
          <!-- Board rows -->
          <tr
            *ngFor="let row of pathOrder; let rowIndex = index">
            <!-- Board cells -->
            <td
               *ngFor="let cell of row">
              <button
               (click)="cellClick(cell, rowIndex)"
               (mouseover)="cellOver(cell, rowIndex)"
               (mouseout)="possMoves = 15"
               class="cell {{ (rowIndex == 1 || (rowIndex == 0 && player == 0) || (rowIndex == 2 && player == 1)) && (possMoves + diceSum == cell) ? 'highlight ' + (player == 0 ? 'chipA' : 'chipB') : ''}} {{ rowIndex < 2 ? pos[0][cell]?.cl : '' }} {{ rowIndex > 0 ? pos[1][cell]?.cl : '' }}"
               [ngClass]="{'blank': cell == 0, 'double': cell == 4 || cell == 8 || cell == 14, 'ghost': ((player == pos[0][cell]?.player && rowIndex < 2) || (player == pos[1][cell]?.player && rowIndex > 0)) && gamePhase % 2 == 1 && possMoves == cell}"
               [disabled]="!((gamePhase == 1 && pos[0][cell]) || (gamePhase == 3 && pos[1][cell]))"
               ></button>
            </td>
          </tr>
        </table>
      </section>
    </main>

    <div
               class="right-sidebar d-flex flex-column justify-content-between pl-5 {{ 'p' + gamePhase.toString() }}">
      <!-- PLAYER A -->
      <div
        class="player-info player-a p-4"
        [ngClass]="{'border-hl': gamePhase < 2}">
        <div class="d-flex flex-row justify-content-between">
          <!-- <h3>{{ !isBot[0] ? 'Bob Bot' : 'Player 1'}}</h3> -->
          <mat-button-toggle-group name="playerMode" [value]="isBot[0] ? 'bot' : 'player'" (change)="isBot[0] = $event.value == 'bot';runPhase()" aria-label="Player mode: player or bot">
          <mat-button-toggle value="player">Player A</mat-button-toggle>
          <mat-button-toggle value="bot">Bot A</mat-button-toggle>
        </mat-button-toggle-group>
          <span
             *ngIf="gamePhase < 2"
             class="badge badge-secondary">{{ phaseStr[gamePhase] }}</span>
        </div>
        <div class="dropdown-divider"></div>
        <!-- chips available -->
        <div class="start">
          <span class="text-muted d-block mb-1">Chips Available</span>
          <!-- add chip to board -->
          <button
            *ngIf="!isBot[0] && gamePhase == 1 && left[0] > 0 && !pos[0][diceSum]"
            class="new-chip btn"
            (mouseover)="possMoves = 0"
            (mouseout)="possMoves = 15"
            [ngClass]="{'btn-primary': gamePhase == 1}"
            [disabled]="gamePhase != 1 || left[0] == 0 || pos[0][diceSum]"
            (click)="newChip(0)">Add Chip to Board<span style="min-width:30px;display:inline-block"></span></button>
          <!-- chips -->
          <div *ngFor="let c of chp[0] | keyvalue" class="smChip float-left">
            <img
               *ngIf="c.value.position == 0"
               src="assets/chip_white.svg"
               alt="Player A chip icon">
          </div>
        </div>
        <br>
        <!-- chips done -->
        <div class="finish my-4">
          <span class="text-muted d-block">Chips Completed</span>
          <img
             *ngFor="let k of home[0]"
             src="assets/chip_white.svg"
             alt="Player A Chip">
        </div>
      </div>

      <!-- dice panel -->
      <aside
        class="die-panel d-flex justify-content-center flex-column position-relative"
        [ngClass]="{'border-hl': gamePhase % 2 == 0}">
        <div class="info p-4">
          <div class="d-flex flex-row justify-content-between">
            <h3 class="mb-2">Dice</h3>
            <div *ngIf="rollAgain"class="alert alert-success py-2 px-3 mb-0" role="alert">Roll again!</div>
          </div>
          <!-- roll button -->
          <button
            class="btn"
            (click)="rollDice()"
            [ngClass]="{'btn-primary': (gamePhase % 2 == 0) && !isBot[gamePhase / 2]}"
            [disabled]="!((gamePhase % 2 == 0) && !isBot[gamePhase / 2])"
               >Roll Dice</button>
          <!-- dice sum -->
          <span id="diceSum" class="text-muted">{{ diceSum }}</span>
        </div>
        <!-- dice rendering -->
        <canvas id="diceCanvas" class="align-self-bottom"></canvas>
      </aside>
      <!-- PLAYER B -->
      <div
        class="player-info player-b p-4"
        [ngClass]="{'border-hl': gamePhase > 1}">
        <!-- Player name -->
        <div class="d-flex flex-row justify-content-between">
          <!-- <h3>{{ isBot[1] ? 'Bobby Bot' : 'You'}}</h3> -->
          <mat-button-toggle-group name="playerMode" [value]="isBot[1] ? 'bot' : 'player'" (change)="isBot[1] = $event.value == 'bot';runPhase()"aria-label="Player mode: player or bot">
          <mat-button-toggle value="player">Player B</mat-button-toggle>
          <mat-button-toggle value="bot">Bot B</mat-button-toggle>
        </mat-button-toggle-group>

          <span
             *ngIf="gamePhase > 1"
             class="badge badge-secondary">{{ phaseStr[gamePhase] }}</span>
        </div>
        <div class="dropdown-divider"></div>
        <!-- chips available -->
        <div class="start">
          <span class="text-muted d-block mb-1">Chips Available</span>
          <!-- add chip to board -->
          <button
            *ngIf="!isBot[1] && gamePhase == 3 && left[1] > 0 && !pos[1][diceSum]"
            class="new-chip btn"
            (mouseover)="possMoves = 0"
            (mouseout)="possMoves = 15"
            [ngClass]="{'btn-primary': gamePhase == 3}"
            [disabled]="gamePhase != 3 || left[1] == 0 || pos[1][diceSum]"
            (click)="newChip(1)">Add Chip to Board<span style="min-width:30px;display:inline-block"></span></button>
          <!-- chips -->
          <div *ngFor="let c of chp[1] | keyvalue" class="smChip float-left">
            <img
               *ngIf="c.value.position == 0"
               src="assets/chip_black.svg"
               alt="Chip icon for bot player, a stroke of red paint">
          </div>
        </div>
        <br>
        <!-- chips done -->
        <div class="finish my-4">
          <span class="text-muted d-block">Chips Completed</span>
          <img
             *ngFor="let k of home[1]"
             src="assets/chip_black.svg"
             alt="Player B Chip">
        </div>
      </div>
    </div>
  </div>
</div>

