@import 'src/styles.sass'

.ur
  width: 100vw
  height: auto
  min-height: 100vh
  overflow: hidden
  background-color: #f1f1f1
  // background-image: url('src/assets/grey_noise.png')
  padding: 2rem

  .phase0, .phase1
    color: green

  .phase2, .phase3
    color: red

.bot-info, .player-info
  .badge
    height: 18px
    transform: scale(2) translateX(40%) translateY(40%)

  .start, .finish
    padding: 1rem
    margin: 0.5rem
    background-color: rgba(0, 0, 0, 0.05)

    &::before
      content: 'Start'
      display: block
      margin-top: -0.5rem

    img
      margin: 0.2rem
      width: 3vw
      height: 3vw
      float: left
      border-radius: 2vw

    button.new-chip[disabled]
      visibility: hidden

  .finish::before
    content: 'Finish'

section.board

  table
    margin: 0 auto
    padding: 1rem
    box-shadow: inset 0 0 20vw rgba(0,0,0,0.2)
    border: 2px solid rgba(255,255,255,0.1)
    border-radius: 1rem

    .cell
      width: 7vw
      height: 7vw
      margin: 0.5rem
      border: 4px solid transparent
      border-radius: 50%
      cursor: default
      background-color: white
      background-size: 0%
      background-position: center
      background-repeat: no-repeat
      box-shadow: 0 3px 12px #00000038
      transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out, background-color 200ms ease-in-out, background-size 500ms ease-out

    .cell.blank
      visibility: hidden

    .cell.double
      border-color: #f34379

    .cell.chipA
      background-image: url('src/assets/red_stroke.png')
      cursor: pointer
      background-size: 100%

    .cell.chipB
      background-image: url('src/assets/green_stroke.jpeg')
      cursor: pointer
      background-size: 100%

    .cell.highlight:not(.chipB)
      background-color: #f3437911
      box-shadow: 0 5px 24px #00000066
      transform: scale(1.1)


// Dice
.die-panel
  padding: 0
  border: 1px solid #ddd
  border-radius: 1rem
  width: 300px
  max-width: 300px
  background-color: #fff
  box-shadow: 0 3px 14px #ddd

  h1#diceSum
    opacity: 0

  h1#diceSum.enter
    transition: opacity 500ms ease-out
    opacity: 1

  #diceCanvas
    border-radius: 1rem
